:root {
  --bg: #001122;
  --alpha: #addb67;
  --bravo: #c792ea;
  --charlie: #f78c6c;
  --delta: #82aaff;
  --border: #d6deeb;
  --mainFont: 'Inconsolata', monospace;
}
body {
  font-family: var(--mainFont);
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  background: var(--bg);
  color: var(--alpha);
  font-size: 20px;
}
h1,
h2,
h3,
h3,
h4 {
  color: var(--bravo);
}
.layout {
  margin: 0;
  padding: 0 20px;
  border: 1px solid var(--border);
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.info__section {
  display: grid;
  padding: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--border);
}
.info__section span {
  font-size: 2rem;
  font-weight: bold;
}
.index__sub {
  color: var(--charlie);
}
.index__title {
  text-align: center;
  color: var(--delta);
}

.selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  color: var(--delta);
  text-decoration: underline;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--bg);
  font-family: var(--mainFont);
  max-width: 100%;
  width: 100%;
  height: 5rem;
  cursor: pointer;
}
.selector__option {
  cursor: pointer;
  color: var(--border);
}
@media (max-width: 800px) {
  .info {
    grid-template-columns: 1fr;
  }
}
